@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-10">¡Hola! Bienvenido a la app CRUD de NotBK.</h1>

    <img src="https://i.pinimg.com/564x/ef/4a/4a/ef4a4a551b83ee26dbfe2bafe3e34699.jpg"></img>

    <p> Proyecto para SI312 <a href="https://virtual.upsa.edu.bo/">de la UPSA</a>.</p>
</div>
