@model NotBK.Models.Pedido

@{
    ViewData["Title"] = "Delete";
}



<h3>¿Estás seguro que quieres eliminar el pedido?</h3>
<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            Código del pedido
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodPedido)
        </dd>
        <dt class="col-sm-2">
            Código del cliente que realizó el pedido
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodClienteNavigation.CodCliente)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodPedido" />
        <input type="submit" value="Confirmar" class="btn btn-outline-danger" /> |
        <a asp-action="Index">Volver a la lista de pedidos</a>
    </form>
</div>
