@model NotBK.Models.Pedido

@{
    ViewData["Title"] = "Edit";
}

<h1 style="font-size: 22px" >Corregir un </h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodPedido" />
            <div class="form-group">
                <label asp-for="CodCliente" class="control-label">Código del cliente</label>
                <select asp-for="CodCliente" class="form-control" asp-items="ViewBag.CodCliente"></select>
                <span asp-validation-for="CodCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label">Fecha del pedido</label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar cambios" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista de pedidos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
