@model NotBK.Models.PromoItem

@{
    ViewData["Title"] = "Edit";
}

<h1 style="font-size: 22px" >Modificar la duración</h1>

<h4>Item en promoción</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="PromoItems" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodItem" />
            <input type="hidden" asp-for="CodPromo" />
            <input type="hidden" name="id" value="@ViewBag.Id" />
            <input type="hidden" name="id2" value="@ViewBag.Id2" />
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label">Fecha de inicio</label>
                <input type="date" asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFin" class="control-label">Fecha de fin</label>
                <input type="date" asp-for="FechaFin" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar cambios" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista de items en promoción</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
